{"act_fn": "ReLU", "c_in": 1, "c_out": [6, 12, 24, 48], "d_conv_stride": 1, "u_conv_stride": 1, "d_dilation": 2, "u_dilation": 1, "conv_filter_size": 3, "convt_filter_size": [4, 5, 5], "u_padding": 1, "d_padding": 2, "bias": true, "use_bn": true, "pool_size": 2, "pool_stride": 2, "double_conv": true, "convt_stride": 2, "is_concat": true}